<form [formGroup]="vendedorForm" (ngSubmit)="onSubmit()">
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input formControlName="fname" matInput>
        </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
          <mat-label>Apellido</mat-label>
          <input formControlName="lname" matInput>
      </mat-form-field>
  </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Producto</mat-label>
        <input formControlName="product" matInput>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Precio</mat-label>
        <input formControlName="price" matInput>
      </mat-form-field>
    </div>
      <button type="submit">Submit</button>
</form>